<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="theme.css" rel="stylesheet">

    {{ content_for_header }}

    <script type="text/javascript">
      NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
    </script>
  </head>
  <body class="aware-theme v2-theme {{ page.page_class_name }} page-{{ request.template | replace: '_', '-' }} js">

    {% if request.url_path != '/' or request.logged_in?	or request.sorta_logged_in? %}
      {% include "nav" %}
    {% else %}
      {% include "custom_home_header" %}
    {% endif %}

    <div class="main-container" id="middle">
      <div class="main container clearfix {% if site.has_background_image? %}well well-lg{% endif %}">

        {% if request.is_sidebar? %}
        {% include "columns_2" %}
        {% else %}
        {% include "columns_1" %}
        {% endif %}

      </div>
      <!-- .main -->
    </div>
    <!-- .main-container -->

    <footer>
      <div class="container {% if site.has_background_image? %}well well-lg{% endif %}">

        {{ content_for_footer }}

        {% if site.footer_content.size > 0 %}
        <div class="footer-text">{{ site.footer_content }}</div>
        <hr/>
        {% endif %}

        <div class="row">

          <div class="col-md-6 footer-left">
            {% if request.logged_in? %}
              Bonjour <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>. Voir
              {% if site.show_public_profiles? %}
                <a href="{{ request.current_signup.profile_url }}">votre profil public</a>,
              {% endif %}
              <a href="{{ request.current_signup.settings_url }}">les réglages de votre compte</a>, ou
              <a href="{{ request.current_signup.logout_url }}">vous déconnecter</a>.
            {% else %}
              Se connecter avec <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a
                  href="{{ request.twitter_connect_url }}">Twitter</a> ou <a href="/login">par email</a>.
            {% endif %}
          </div>
          <div class="col-md-6 footer-right text-right">
            <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
                 You can style it or move it in different ways, but please leave it in the footer. -->
            Créé avec <a href="http://nationbuilder.com/">NationBuilder</a>
          </div>

        </div>
      </div>
      <!-- container -->
    </footer>

    {% if site.has_background_image? %}
      <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
      <script type="text/javascript">
        jQuery.backstretch("{{ site.background_image_url }}", {speed: 0});
      </script>
      <![endif]-->
      <style>
        body {
          background: url('{{ site.background_image_url }}') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
    </style>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

  </body>
</html>
