<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
    <!-- Bootstrap -->
    <link href="theme.css" rel="stylesheet">

    {{ content_for_header }}

    <script type="text/javascript">
      NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
    </script>
  </head>
  <body class="aware-theme v2-theme {{ page.page_class_name }} page-{{ request.template | replace: '_', '-' }} js">

    {% if request.url_path != '/' or request.logged_in?	or request.sorta_logged_in? %}
      {% include "nav" %}
    {% else %}
      {% include "custom_home_header" %}
    {% endif %}

    <div class="main-container" id="middle">
      <div class="main container clearfix {% if site.has_background_image? %}well well-lg{% endif %}">

        {% if request.is_sidebar? %}
        {% include "columns_2" %}
        {% else %}
        {% include "columns_1" %}
        {% endif %}

      </div>
      <!-- .main -->
    </div>
    <!-- .main-container -->

    {% unless request.logged_in? or request.sorta_logged_in? %}
      <div class="container container-signup-footer hidden-print">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-xs-12 card">
            <h3 class="text-center">J'appuie la candidature<br>de Jean-Luc Mélenchon</h3>
            {% form_for signup %}
              {% hidden_field_tag "page_id", site.signup_page.id %}
              <div class="form-group">
                <div class="col-sm-12">
                  {% email_field "email", class:"form-control input-lg", placeholder:"Adresse email", required: "required" %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-6">
                  {% text_field "address.zip", class:"form-control input-lg", placeholder:"Code postal", required: "required" %}
                </div>
                <div class="col-xs-6">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">J'appuie</button>
                </div>
              </div>
              <p>Je recevrai des informations sur la campagne de Jean-Luc Mélenchon</p>
            {% endform_for %}
          </div>
        </div>
      </div>
      <!-- container-signup -->
    {% endunless %}

    <footer class="hidden-print">
      <div class="container {% if site.has_background_image? %}well well-lg{% endif %}">

        <div class="clearfix"></div>
        <div class="row social text-center bottom-margin">
          <div class="col-sm-2 col-sm-offset-3 col-xs-4">
            <a href="https://twitter.com/JLMelenchon" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
          </div>
          <div class="col-sm-2 col-xs-4">
            <a href="https://www.facebook.com/JLMelenchon" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
          </div>
          <div class="col-sm-2 col-xs-4">
            <a href="https://www.youtube.com/user/PlaceauPeuple" target="_blank"><i class="fa fa-youtube-play fa-3x"></i></a>
          </div>
        </div>

        <hr />

        <!-- Footer avec liens multiples -->

        <div class="row bottom-margin">
          <div class="col-sm-3">Je m’implique&nbsp;:<br />
            <a href="/agir">J’agis</a><br />
            <a href="/donner">Je donne</a><br />
            <a href="/inscription_detail">J’en dis plus sur moi</a><br />
            <a href="/signup">Je crée un compte</a>
          </div>

          <div class="col-sm-3">Réseaux sociaux&nbsp;:<br />
            <a href="https://www.facebook.com/JLMelenchon/">Facebook</a><br />
            <a href="https://twitter.com/JLMelenchon">Twitter</a><br />
            <a href="https://www.youtube.com/user/PlaceauPeuple">Youtube</a><br />
            <a href="http://plus.google.com/+JLMelenchon/">Google+</a><br />
            <a href="http://instagram.com/jlmelenchon/">Instagram</a><br />
          </div>

          <div class="col-sm-3">Groupes d’appui&nbsp;:<br />
            <a href="/groupes_appui">La carte des groupes</a><br />
            <a href="/creer_ou_rejoindre_un_groupe_d_appui">Créer ou rejoindre un groupe</a>
          </div>

          <div class="col-sm-3">Evènements&nbsp;:<br />
            <a href="/agenda_melenchon">L’agenda de JLM</a><br />
            <a href="/evenements_locaux">Evènements locaux</a><br />
            <hr />
            <a href="mailto:contact@jlm2017.fr">Contact</a> - <a href="/mentions_legales">Mentions légales</a><br />
            <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
                 You can style it or move it in different ways, but please leave it in the footer. -->
            Créé avec <a href="http://nationbuilder.com/">NationBuilder</a>
          </div>
        </div>

        {{ content_for_footer | replace: 'en_US', 'fr_FR' }}

        {% if site.footer_content.size > 0 %}
        <div class="footer-text">{{ site.footer_content }}</div>
        <hr/>
        {% endif %}
      </div>
      <!-- container -->
    </footer>

    {% if site.has_background_image? %}
      <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
      <script type="text/javascript">
        jQuery.backstretch("{{ site.background_image_url }}", {speed: 0});
      </script>
      <![endif]-->
      <style>
        body {
          background: url('{{ site.background_image_url }}') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
    </style>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <script src="components.js"></script>

  </body>
</html>
