<div class="home-header hidden-print">
  <div class="background" style="background-image: url('{{ site.header_image_url_980	}}');">
    <div class="container container-menu">
      <div class="row">
        <div class="logo">
          <img alt="{{ site.long_name }}" src="logo-orange-bleu.png">
        </div>
        <div class="menu">
          <ul class="nav nav-pills nav-stacked">
            {% for child in site.root_nav_pages %}
              {% unless child.is_or_is_ancestor_of_current_page? %}
                {% if child.leaf? or child.nav_children.size == 0 %}
                  <li>
                    <a href="{{ child.url }}">{{ child.name }}</a>
                  </li>
                {% else %}
                  <li class="dropdown">
                    <a href="{{ child.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ child.name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      {% if site.show_parent_in_nav_dropdown? %}
                        <li><a href="{{ child.url }}">{{ child.name }}</a></li>
                      {% endif %}
                      {% for child2 in child.nav_children %}
                        <li><a href="{{ child2.url }}">{{ child2.name }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              {% endunless %}
            {% endfor %}
          </ul>
        </div>
        <div class="subheadline">
          <h1>{{ site.subheadline	}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-signup">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 card">
        <h3 class="text-center">J'appuie la candidature de<br>Jean-Luc Mélenchon</h3>
        {% form_for signup %}
        {% hidden_field_tag "page_id", site.signup_page.id %}
          <div class="form-group">
            <div class="col-sm-12">
              {% email_field "email", class:"form-control input-lg", placeholder:"Adresse email", required: "required" %}
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              {% text_field "address.zip", class:"form-control input-lg", placeholder:"Code postal", required: "required" %}
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-block btn-lg btn-primary">J'appuie</button>
            </div>
          </div>
          <p>Je recevrai des informations sur la campagne de Jean-Luc Mélenchon</p>
        {% endform_for %}
      </div>
    </div>
  </div>
</div>
