.navbar-brand {
  max-height: $navbar-height;
  padding: 5px;
  height: 80px;
  img {
    height: 100%;
    width: auto;
  }
}

.navbar-nav .navbar-img {
  padding-top: 20px;
  padding-bottom: 20px;
    img {
      height: $navbar-height - (20px*2);
      width: auto;
    }
}
