<h2 class="headline">Réinitialiser votre mot de passe</h2>

<div class="form">

  {% form_for password_reset %}

  	<div class="form-errors">{% error_messages_for password_reset %}</div>

    <div class="row">

      <div class="col-md-12"><div class="form-group"><label for="password_reset_email">Adresse email</label>{% email_field "email", class:"text form-control" %}</div></div>

    </div>

      {% submit_tag "Envoyer les instruction pour réinitialiser le mot de passe", class:"submit-button btn btn-primary" %}
  	  <div class="form-submit"></div>

  {% endform_for %}

</div>
