<div class="form">

  {% form_for activation %}

  	<div class="form-errors">{% error_messages_for activation %}</div>

    <input type="hidden" name="activation[activation_code]" value="{{ activation.activation_code }}" />

  	<div class="row">

      <div class="col-md-6"><div class="form-group"><label for="activation_first_name">Prénom</label>{% text_field "first_name", class:"text form-control" %}</div></div>
      <div class="col-md-6"><div class="form-group"><label for="activation_last_name">Nom</label>{% text_field "last_name", class:"text form-control" %}</div></div>

    </div>
    <div class="row">

      <div class="col-md-12"><div class="form-group"><label for="activation_username">User name</label>
        {% text_field "username", class:"text form-control" %}
        <small>Votre profil public sera à l'adresse :{{ site.full_url }}{% if request.current_signup.has_username? %}{{ request.current_signup.username }}{% else %}username{% endif %}</small>
      </div>

    </div>
    {% if activation.is_address_needed %}
    <div class="row">

      <div class="col-md-12"><div class="form-group"><label for="activation_submitted_address">Adresse (Rue, ville, pays, code postal)</label>{% text_field "submitted_address", class:"text form-control" %}</div></div>

    </div>

      {% endif %}

      {% if activation.is_mobile_needed and site.ask_for_mobiles? %}
      <div class="row">

        <div class="col-md-12"><div class="form-group"><label for="activation_mobile_number">Numéro de téléphone portable (optional)</label>{% phone_field "mobile_number", class:"text form-control" %}</div></div>

      </div>
      <div class="row">

        <div class="col-md-12"><div class="form-group"><label for="activation_mobile_opt_in">{% check_box "mobile_opt_in", class:"check_box" %} M'envoyer des mises à jour par SMS</label></div>

      </div>
    {% endif %}

  	<div class="row">

      <div class="col-md-12"><div class="form-group"><label for="activation_password">Choisissez votre mot de passe</label>{% password_field "password", class:"text form-control" %}</div></div>

    </div>
    <div class="row">

      <div class="col-md-12"><div class="form-group"><label for="activation_password_confirmation">Confirmez votre mot de passe</label>{% password_field "password_confirmation", class:"text form-control" %}</div></div>

    </div>

  	  {% submit_tag "Activer le compte", class:"submit-button btn btn-primary" %}
  	  <div class="form-submit"></div>

  {% endform_for %}

</div>
