html, body {
  height: 100%;
}

.home-header {
  min-height: 606px; // can be bigger if signup form rise
  .background {
    margin: auto;
    padding-top: 20px;
    margin-bottom: -150px; // for the signup form to rise
    background-color: $gray-lighter;
    background-size: cover;
    background-position: center;
    border-bottom: 40px solid $brand-secondary;
    padding-bottom: 110px;

    .container-menu {
      height: 100%;
      color: #fff;

      h1, h2, h3, h4, h5, h6,
      .h1, .h2, .h3, .h4, .h5, .h6 {
        color: inherit;
        font-family: $font-family-serif;
        text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
      }

      .logo {
        @include make-xs-column(12);
        img {
          height:50px;
          width:auto;
        }
      }

      .menu {
        @include make-sm-column(3);
        .nav-stacked {
          li {
            a {
              font-family: $font-family-sans-serif;
              text-transform: uppercase;
              font-weight: bolder;
              color: #fff;
              width: auto;
              margin: auto;
              display: inline-block;
              background: none;
              &:hover {
                background-color: rgba($gray-lighter, 0.3);
              }
            }
          }
        }
      }

      .subheadline {
        @include make-sm-column(8);
        @include make-sm-column-offset(1);
        @include make-md-column(7);
        @include make-md-column-offset(2);
        @include make-lg-column(6);
        @include make-lg-column-offset(3);
      }


    }
  }
}
