{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  {% if page.donation.content.size > 0 %}
  <div id="intro" class="intro">
    {{ page.donation.content }}
  </div>
  {% endif %}

  {% if page.show_social_slider? and page.public_activities_count > 0 %}
  {% include "social_slider" %}
  {% endif %}

  {% assign thermo_width = 100 %}

  {% if page.donation.has_amount_goal? %}
  <div class="clearfix">
    <div class="progress" style="width: {{ thermo_width }}%;">
      <div class="bar progress-bar" role="progressbar" style="min-width:2em; width: {{ page.donation.percent_of_amount_goal | times:100 }}%;">
        {% if page.donations_count < 1 %}
        <div class="bar-text">0%</div>
        {% else %}
        <div class="bar-text">{{ page.donations_amount_format }} récoltés</div>
        {% endif %}
      </div>
    </div>

    <div class="bar-goal">OBJECTIF&nbsp;: {{ page.donation.amount_goal_format }}</div>

  </div>

  {% elsif page.donation.has_donor_goal? %}

  <div class="clearfix">
    <div class="progress" style="width: {{ thermo_width }}%;">
      <div class="bar progress-bar" role="progressbar" style="min-width:2em; width: {{ page.donation.percent_of_donor_goal | times:100 }}%;">
        {% if page.donations_count < 2 %}
        <div class="bar-text">0%</div>
        {% else %}
        <div class="bar-text">{{ page.donations_count }} donateurs</div>
        {% endif %}
      </div>
    </div>

    <div class="bar-goal">{{ page.donation.donor_goal }} donateurs</div>

  </div>

  {% endif %}

  {% form_for donation autocomplete:off %}

  <div class="form-wrap">
    <div class="form">

      <div class="form-errors">
        {% error_messages_for donation %}
      </div>

      {% if page.donation.has_merchant_account? == false %}
      <div class="marginbottommore">
        <span class="text-danger"><strong>Pas de compte en banque&nbsp;:</strong> Cette page ne fonctionnera pas tant que vous n'ajouterez pas de compte bancaire.</span>
      </div>
      {% elsif page.donation.merchant_account.is_test_mode? %}
      <div class="marginbottommore">
        <span class="text-danger"><strong>Mode de test&nbsp;:</strong> Les transations ne seront pas effectuées. Utilisez votre carte de crédit pour faire un test, vous ne serez pas réellement débité.e.</span>
      </div>
      {% endif %}

      <div class="row">
        <div class="col-md-12">

          <div class="row">

            <div class="col-md-6 well">
              <div class="row">

                <div class="col-md-6"><div class="form-group"><label for="donation_first_name">Prénom</label>{% text_field "first_name", class:"text form-control" %}</div></div>
                <div class="col-md-6"><div class="form-group"><label for="donation_last_name">Nom</label>{% text_field "last_name", class:"text form-control" %}</div></div>

              </div>
              <div class="row">

                <div class="col-md-12"><div class="form-group"><label for="donation_billing_address_country_code">Pays</label>{% collection_select "billing_address.country_code", page.donation.countries, "code", "name", class:"select form-control" %}</div></div>

              </div>
              <div class="row">

                <div class="col-md-12"><div class="form-group"><label for="donation_billing_address_address1">Adresse</label>
                  {% text_field "billing_address.address1", class:"text form-control" %}
                  {% text_field "billing_address.address2", class:"text form-control" %}
                  {% text_field "billing_address.address3", class:"text form-control not-us-or-canada hide" %}
                </div></div>

              </div>
              <div class="row">

                <div class="col-md-4"><div class="form-group"><label for="donation_billing_address_city">Ville</label>{% text_field "billing_address.city", class:"text form-control" %}</div></div>
                <div class="col-md-5 us-or-canada us-only hide"><div class="form-group"><label for="donation_state">Département</label>{% collection_select "billing_address.state", page.donation.us_states, "code", "name", class:"select form-control" %}</div></div>
                <div class="col-md-5 us-or-canada canada-only hide"><div class="form-group"><label for="donation_billing_address_state">Département</label>{% text_field "billing_address.state", class:"text form-control" %}</div></div>
                <div class="col-md-3"><div class="form-group"><label for="donation_billing_address_zip">Code postal</label>{% text_field "billing_address.zip", class:"text form-control" %}</div></div>

              </div>
              <div class="row">

                <div class="col-md-6"><div class="form-group"><label for="donation_email">Email</label>{% email_field "email", class:"text form-control" %}</div></div>
                <div class="col-md-6"><div class="form-group"><label for="donation_billing_address_phone_number">Téléphone</label>{% phone_field "billing_address.phone_number", class:"text form-control" %}</div></div>

              </div>
              <div class="row">

                <div class="col-md-12"><div class="checkbox"><label for="donation_email_opt_in">{% check_box "email_opt_in" %} Recevoir des notifications par email</label></div>
                </div>

              </div>
              {% if page.donation.merchant_account.is_employer_and_occupation_required? %}
              <div class="row">

                <div class="col-md-6"><div class="form-group"><label for="donation_employer">Employeur</label>{% text_field "employer", class:"text form-control", required:"required" %}</div></div>
                <div class="col-md-6"><div class="form-group"><label for="donation_occupation">Métier</label>{% text_field "occupation", class:"text form-control", required:"required" %}</div></div>

              </div>
              {% if page.donation.merchant_account.is_employer_address_required? %}
              <div class="row">

                <div class="col-md-12"><div class="form-group"><label for="donation_work_address_country">Pays de l'employeur</label>{% collection_select "work_address.country_code", page.donation.countries, "code", "name", class:"select form-control", required:"required" %}</div></div>

              </div>
              <div class="row">

                <div class="col-md-12"><div class="form-group"><label for="donation_work_address_address1">Adresse de l'employeur</label>
                  {% text_field "work_address.address1", class:"text form-control", required:"required" %}
                  {% text_field "work_address.address2", class:"text form-control" %}
                  {% text_field "work_address.address3", class:"text form-control work-not-us-or-canada hide" %}
                </div></div>

              </div>
              <div class="row">

                <div class="col-md-4"><div class="form-group"><label for="donation_work_address_city">Ville de l'employeur</label>{% text_field "work_address.city", class:"text form-control", required:"required" %}</div></div>
                <div class="col-md-5 work-us-or-canada"><div class="form-group"><label for="donation_work_address_state">Département</label>{% text_field "work_address.state", class:"text form-control", required:"required" %}</div></div>
                <div class="col-md-3"><div class="form-group"><label for="donation_work_address_zip">Code postal</label>{% text_field "work_address.zip", class:"text form-control", required:"required" %}</div></div>

              </div>

              {% elsif page.donation.merchant_account.is_employer_city_required? %}
              <div class="row">

                <div class="col-md-12"><div class="form-group"><label for="donation_work_address_country">Pays de l'employeur</label>{% collection_select "work_address.country_code", page.donation.countries, "code", "name", class:"select form-control", required:"required" %}</div></div>

              </div>

              <div class="row">

                <div class="col-md-4"><div class="form-group"><label for="donation_work_address_city">Ville de l'employeur</label>{% text_field "work_address.city", class:"text form-control", required:"required" %}</div></div>
                <div class="col-md-5 work-us-or-canada hide"><div class="form-group"><label for="donation_work_address_state">Département</label>{% text_field "work_address.state", class:"text form-control", required:"required" %}</div></div>
                <div class="col-md-3"><div class="form-group"><label for="donation_work_address_zip">Code postal</label>{% text_field "work_address.zip", class:"text form-control", required:"required" %}</div></div>

              </div>
              {% endif %}

              <div class="row">

                <div class="col-md-12">
                  <div class="padtopless padbottomless">La loi exige que nous vous demandions votre emploi et votre employeur. Si vous êtes sans emploi ou retraité, mettez N/A et si vous êtes auto-entrepreneur, indiquez « Auto-entrepreneur » dans « Employeur » et décrivez votre métier.</div>
                </div>

              </div>

              {% endif %}

              {% if page.donation.merchant_account.is_corporate_contribution_required? %}
              <div class="row">

                <div class="col-md-12 input-checkbox">
                  <div class="checkbox"><label for="donation_is_corporate_contribution">{% check_box "is_corporate_contribution", class:"checkbox" %} Ceci est une contribution réalisée par une personne morale.</label></div>
                </div>

              </div>
              {% endif %}

              {% for cf in custom_fields.donation %}
                {% assign custom_field = cf[1] %}
                {% assign custom_field_id = 'custom_values.' | append: custom_field.slug %}

                <div class="row">
                  <div class="col-md-12">
                    {% if custom_field.is_text? or custom_field.is_number? %}
                      <label for="donation_custom_values_{{ custom_field.slug }}_custom">{{ custom_field.name }}</label>
                      {% text_field custom_field_id, class:"text form-control" %}
                    {% elsif custom_field.is_boolean? %}
                      <div class="checkbox"><label for="donation_custom_values_{{ custom_field.slug }}_custom">{% check_box custom_field_id, class:"checkbox" %} {{ custom_field.name }}</label></div>
                    {% elsif custom_field.is_multiple_choice? %}
                      <label for="donation_custom_values_{{ custom_field.slug }}_custom">{{ custom_field.name }}</label>
                      {% collection_select custom_field_id, custom_fields.donation[custom_field.slug].multiple_choice_options, class:"select form-control" %}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}

              <div class="row">
                {% if page.donation.merchant_account.is_taxable? %}

                <div class="col-md-12">Les dons ne donnent <i>pas</i> lieu à une déduction d'impôts.</div>
                {% else %}
                <div class="col-md-12">Les dons donnent lieu à une déduction d'impôts.</div>

                {% endif %}
              </div>

            </div>
            <div class="col-md-6"><div class="form-group"><label for="donation_amounts">Montant</label>

              {% if request.current_order %}
                {% for item in request.current_order.items %}
                  {% if item.num_time_periods and item.time_period_type %}
                    {{ item.quantity }} {{ item.name }} @ {{ item.amount }} - facturé automatiquement tous les {{ item.num_time_periods }} {{item.time_period_type }}
                  {% else %}
                    {{ item.quantity }} {{ item.name }} @ {{ item.amount }}
                  {% endif %}
                {% endfor %}
                <a href="{{ page.donation.clear_order_url }}">Annuler l'ordre</a>
              {% elsif page.donation.donation_frequency == "monthly" %}
                {% if page.donation.amount_in_cents != 0 %}
                  <h4 class="padbottomless">{{ page.donation.amount_formatted }}</h4>
                  <div class="row">
                    <div class="col-md-12 padbottomless">Votre carte de crédit sera automatiquement débitée chaque mois.</div>
                  </div>
                {% else %}
                  <div class="radio-inline">{{ page.donation.form_amount_options }}</div>
                  <div class="row">
                    <div class="col-md-12 padbottomless">Votre carte de crédit sera automatiquement débitée chaque mois.</div>
                  </div>
                {% endif %}
              {% else %}
                {% if page.donation.amount_in_cents != 0 %}
                  <h4 class="padbottomless">{{ page.donation.amount_formatted }}</h4>
                {% else %}
                  <div class="donation-amount-radio row" data-toggle="buttons">
                    <!--{{ page.donation.form_amount_options | replace: 'Other €', 'Autre montant' }}-->
                    {% for amount in page.donation.amounts %}
                      <div class="col-xs-3 bottom-margin">
                        <label class="btn btn-primary" for="donation_amount_{{ amount }}">
                          <input id="donation_amout_{{ amount }}" type="radio" name="donation[amount_option]" class="donation_amout_option" value="{{ amount }}">
                          {{ amount }} &euro;
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                  <label for="donation_amount_other">Autre montant</label>
                  <input type="text" id="donation_amount_other" name="donation[amount]" class="text user-success" placeholder="0,00">
                {% endif %}
                {% if page.donation.max_installments > 1 %}
                  <label for="num_installments" class="padbottomless">Je veux payer cela en  {% collection_select "num_installments", page.donation.installment_collection, class:"select form-control" %} fois</label>
                {% endif %}
              {% endif %}

            </div>

            {% if page.donation.has_merchant_account? and page.donation.merchant_account.is_paypal_express? == false %}

            <div class="row">

              <div class="col-md-12"><div class="form-group"><label for="donation_card_number">Numéro de la carte de crédit</label>{% text_field "card_number", class:"text form-control" %}<div class="cc">{{ page.donation.merchant_account.accepted_card_icons }}</div></div></div>

            </div>

            <div class="row">

              <div class="col-md-6"><div class="form-group"><label for="donation_card_expires_on">Expiration</label>{{ page.donation.form_card_expires_on }}</div></div>

              <div class="col-md-6"><div class="form-group"><label for="donation_card_verification">Code de sécurité (au dos de la carte)</label>{% text_field "card_verification", class:"text form-control" %}</div></div>
              {% endif %}

              <div class="col-md-12">
                {% if page.donation.merchant_account.has_contribution_rules? %}
                <label for="is_confirmation_text"><strong>Règles de contribution</strong></label>
                {{ page.donation.merchant_account.contribution_rules }}

                <div class="checkbox"><label for="donation_is_confirmed" class="padtop">{% check_box "is_confirmed", class:"checkbox" %} Je confirme que les déclarations ci dessus sont exactes.</label></div>
                {% endif %}

                {% if page.donation.merchant_account.is_de? %}
                <div class="checkbox"><label for="donation_is_de_confirmed">{% check_box "is_de_confirmed", class:"checkbox" %}
                  J'accepte les
                  <a href="http://www.democracyengine.com/subscriber_tos" target="_new">conditions d'utilisation</a> de « Democracy Engine »
                  et sa
                  <a href="http://www.democracyengine.com/subscriber_privacy_policy" target="_new">politique de confidentialité</a>. Vous ne recevrez pas d'emails de leur part, ils nous transmettront seulement votre don.
                </label></div>
                {% endif %}

                {% if site.ask_to_publish_to_stream? %}
                <div class="checkbox"><label for="donation_is_private">{% check_box "is_private", class:"checkbox" %} Ne pas rendre public mon don sur le site.</label></div>
                {% endif %}

                {% if page.donation.has_merchant_account? and page.donation.merchant_account.is_paypal_express? %}
                <div class="padtop">{% submit_tag "Continuer vers Paypal", class:"success-btn btn btn-primary" %}</div>
                <div class="padtopmore">{{ page.donation.merchant_account.accepted_card_icons }}</div>
                {% else %}
                <div class="padtop">{% submit_tag "Effectuer un don", class:"submit-button btn btn-primary" %}</div>
                {% endif %}
              </div>

            </div>

            <div class="form-submit"></div>

          </div>

        </div>

      </div>

    </div>
  </div>

  {% endform_for %}

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>
