<p>{{ recipient.first_name_or_friend }} --</p>
<p>Bienvenue sur <a href="http://nationbuilder.com">NationBuilder</a>, logiciel d'animation de communauté.</p>
<p><strong>Prêt à animer votre communauté&nbsp;?</strong> Nous avons beaucoup de resources pour vous, notamment&nbsp;:</p>
<ul>
<li>Des vidéos introductives sur<a href="http://nationbuilder.com/founding_your_nation">la fondation</a> et <a href="http://nationbuilder.com/building_your_nation">l'animation</a> de votre communauté avec tout ce dont vous avez besoin pour que votre nouveau site web et votre base de données soient à jour et fonctionnent.</li>
<li>De très complets <a href="http://nationbuilder.com/howto">guides utilisateur</a> pour utiliser les outils principaux.</li>
</ul>
<p>Dès que vous avez terminé le démarrage rapide, vous pourrez accéder à votre communauté depuis le <a href="{{ nation.admin_url }}">panneau de contrôle</a>. Assurez-vous de consulter notre <a href="http://nationbuilder.com/blog">blog</a> pour en savoir plus sur les innovations en matière d'outils, d'évènements à venir et d'histoires réussies de nos clients.</p>
<p>N'hésitez pas à nous contacter pour la moindre question à l'adresse&nbsp;: <a href="mailto:help@nationbuilder.com">help@nationbuilder.com</a>.</p>
<p>- {{ nation.admin_url }}</p>
