<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="ink.css"> <!-- For testing only -->

    <style type="text/css">
      /* Ink styles go here in production */

    </style>
    <style type="text/css">

    .header {
      background-color: #c9462c;
      border: 0px;
    }

    .header img {
      float: none;
      height: 50px;
      max-height: 50px;
      width: auto;
      margin-top: 15px;
    }

    .sub-columns center {
      min-width: none !important;
    }

    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <!-- mail content -->
            <table class="container">
              <tr>
                <td>
                  <!-- header -->
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td class="header center">
                              <center>
                                <img src="logo-blanc.png" height="100"/>
                              </center>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- content -->
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td class="text-pad">
                              {% yield %}
                              <hr />
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- social networks -->
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td class="four sub-columns center">
                              <center>
                                <img src="logo-twitter.png" class="center" />
                                <a href="https://twitter.com/JLMelenchon" target="_blank">
                                  Twitter
                                </a>
                              </center>
                            </td>
                            <td class="four sub-columns center">
                              <center>
                                <img src="logo-facebook.png" class="center" />
                                <a href="https://www.facebook.com/JLMelenchon" target="_blank">
                                  Facebook
                                </a>
                              </center>
                            </td>
                            <td class="four sub-columns last center">
                              <center>
                                <img src="logo-youtube.png" class="center" />
                                <a href="https://www.youtube.com/user/PlaceauPeuple" target="_blank">
                                  Youtube
                                </a>
                              </center>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- bottom -->
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td class="text-pad">
                              Cet email a été envoyé à {{ recipient.email }}.
                              {% if page %}
                              	Pour ne plus recevoir de notifications sur cette page, <a href="{{ page.unsubscribe_url }}">cliquez ici</a>.
                              {% endif %}
                              <br/>
                              {{ settings.official_name }}
                              {% if settings.has_address? %}
                                &middot; {{ settings.address.one_line }}
                              {% endif %}
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
