{% if request.current_signup.crawling_twitter? %}

  <div class="panel-body">
    <p class="twitter-followings" id="twitter_followings">
      <img src="{{ "bert-loader-small.gif" | asset_path }}" border="0"> Recherche sur Twitter de vos ami.e.s membres du site...
      {{ request.current_signup.crawling_twitter_status_url | auto_refresh }}
    </p>
  </div>

{% else %}

  {% if request.current_signup.followings_count_from_twitter == 0 %}

    <div class="panel-body">
      <p>Aucune personne que vous suivez sur Twitter n'a rejoint le site pour l'instant.</p>
    </div>

  {% else %}
    <div class="panel-body">
      <p><strong>{{ request.current_signup.followings_count_from_twitter }}</strong> personnes que vous suivez sur Twitter ont rejoint le site.<br/>
    Vous les suivez automatiquement.</p>

      {% if request.current_signup.followings_count_from_twitter > 6 %}
      <p><span class="supporter-follow-details">Quelques unes...</span></p>
      {% endif %}
    </div>

     <ul class="list-group">
      {% for signup in request.current_signup.followings_from_twitter %}
      <li class="list-group-item">
        <div class="media {% cycle 'odd', 'even' %}">
          <div class="media-left">{{ signup.bigger_profile_image }}</div>
          <div class="media-body media-middle">{{ signup.published_name_linked }}</div>
        </div>
      </li>
      {% endfor %}
    </ul>

  {% endif %}

  {% if request.current_signup.followers_count_from_twitter == 0 %}

    <div class="panel-body">
      <p>Aucune de vos abonné.e.s sur Twitter n'a rejoint le site.</p>
    </div>

  {% else %}
    <div class="panel-body">
      <p><strong>{{ request.current_signup.followers_count_from_twitter }}</strong> de vos abonné.e.s sur Twitter a rejoint le site.<br/>
    Ils </em>vous</em> suivent automatiquement.</p>
      {% if request.current_signup.followers_count_from_twitter > 6 %}
      <p><span class="supporter-follow-details">Quelques unes...</span></p>
      {% endif %}
    </div>

    <ul class="list-group">
    {% for signup in request.current_signup.followers_from_twitter %}
      <li class="list-group-item">
        <div class="media {% cycle 'odd', 'even' %}">
          <div class="media-left">{{ signup.bigger_profile_image }}</div>
          <div class="media-body media-middle">{{ signup.published_name_linked }}</div>
        </div>
      </li>
    {% endfor %}
    </ul>

  {% endif %}

{% endif %}
