<div id="flash_notification">
<div class="headline">{{ flash.message }}</div>
	<div class="notification_list">

		<ul>
			<li>{{ "fugue-xfn-friend" | icon }} Bob Fertik vous suit <span class="label label-default">+1pc</span> <span class="timeago">Il y a 25 minutes</span></li>
			<li>{{ "fugue-thumb-up" | icon }} Gong Szeto aime votre activité <span class="label label-default">+1pc</span> <span class="timeago">Il y a 28 minutes</span></li>
		</ul>

		<div class="padtop"><div class="silver-btn">Fermer les nouvelles notifications</div></div>

	</div>
</div>
