<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Activer la navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if site.has_meta_image? %}
        <a class="navbar-brand" href="/"><img alt="{{ site.long_name }}" src="{{ site.meta_image_large_url }}"></a>
      {% endif %}
    </div>
    <div id="menu-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for child in site.root_nav_pages %}
        {% if child.leaf? or child.nav_children.size == 0 %}
        <li {% if child.is_or_is_ancestor_of_current_page? %}class="active"{% endif %}>
          <a href="{{ child.url }}">{{ child.name }}</a>
        </li>
        {% else %}
        <li class="{% if child.is_or_is_ancestor_of_current_page? %}active{% endif %} dropdown">
          <a href="{{ child.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ child.name }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% if site.show_parent_in_nav_dropdown? %}
              <li><a href="{{ child.url }}">{{ child.name }}</a></li>
            {% endif %}
            {% for child2 in child.nav_children %}
              <li><a href="{{ child2.url }}">{{ child2.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
        {% if request.logged_in? %}
          <li class="dropdown">
            <a href="{{ request.current_user.profile_url }}" class="navbar-img dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <img src="{{ request.current_user.profile_image_url }}" />
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                {% if request.current_user.is_profile_published? %}
                  <a href="{{ request.current_user.profile_url }}">
                {% else %}
                  <a href="{{ request.current_user.settings_url }}">
                {% endif %}
                  <h5>{{ request.current_user.published_name }}</h5>
                  {% if request.current_user.is_profile_published? %}
                    <small>Voir mon profil public</small>
                  {% endif %}
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="{{ request.current_user.settings_url }}">Mon compte</a>
              </li>
              <li><a href="{{ request.current_user.logout_url }}">Se déconnecter</a></li>
              {% if request.current_user.is_intern? %}
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{ site.admin_dashboard_url }}">Panneau d'administration</a>
                </li>
              {% endif %}
            </ul>
          </li>
        {% else %}
          <a href="/login" class="btn btn-default navbar-btn">Se connecter</a>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
