{% if request.logged_in? %}

{% elsif request.sorta_logged_in? %}

<div class="box">
	Hi <strong>{{ request.current_signup.name_or_email }}.</strong><br/>
	<div class="social">
		Connectez-vous <em>via</em> <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a href="{{ request.twitter_connect_url }}">Twitter</a> ou <a href="/login">email</a>.<br/>
		Vous n'êtes pas {{ request.current_signup.name_or_email }}? <a href="{{ request.current_signup.logout_url }}">cliquez ici</a>.
	</div>
</div>

{% else %}

	<div class="email-signup form">
  {% form_for signup %}
   {% hidden_field_tag "page_id", page.id %} <div class="form-errors">{% error_messages_for signup %}</div>

		<div class="form-group">
			<div class="input-group">
				{% email_field "email", class:"text form-control", placeholder:"Email address", required: "required" %}
				<span class="input-group-btn">
					{% submit_tag "Rejoindre", class:"submit-button btn btn-primary" %}
				</span>
			</div>
		</div>

	    <div class="form-submit"></div>
  {% endform_for %}
</div>

{% endif %}
