{% if page.type_name == "Donation" %}
{% assign activity_type = "Don" %}
{% assign ignore_types = "Don annulé|Don supprimé" | split: "|" %}
{% assign activity_title = "Qui donne" %}
{% elsif page.type_name == "Endorsement" %}
{% assign activity_type = "Soutien" %}
{% assign ignore_types = "" %}
{% assign activity_title = "Qui" %}
{% elsif page.type_name == "Event" %}
{% assign activity_type = "Inscription à un évènement" %}
{% assign ignore_types = "Inscription à un évènement" %}
{% assign activity_title = "Qui est inscrit" %}
{% elsif page.type_name == "Moneybomb" %}
{% assign activity_type = "Promesse de don" %}
{% assign ignore_types = "Promesse annulée" %}
{% assign activity_title = "Qui s'est engagé.e" %}
{% elsif page.type_name == "Petition" %}
{% assign activity_type = "Qui a signé" %}
{% assign ignore_types = "" %}
{% assign activity_title = "Qui a appuyé" %}
{% elsif page.type_name == "Signup" %}
{% assign activity_type = "Appui" %}
{% assign ignore_types = "" %}
{% assign activity_title = "Qui a appuyé" %}
{% elsif page.type_name == "Volunteer Signup" %}
{% assign activity_type = "Agir" %}
{% assign ignore_types = "" %}
{% assign activity_title = "Qui veut agir" %}
{% elsif page.type_name == "Vote Pledge" %}
{% assign activity_type = "Supporter Pledge Yes" %}
{% assign ignore_types = "Supporter Pledge Yes Cancel" %}
{% assign activity_title = "Who's pledging" %}
{% endif %}

{% if activity_type and (page.activities | size) > 0 %}
{{ (page.activities | size) }}
{% assign ignore_list = "" %}
<h4>{{ activity_title }}</h4>
<div id="slider-cards">
  <div class="slider-card-wrap">
    {% for activity in page.activities %}
      {% for ignore_type in ignore_types %}
        {% if ignore_type == activity.type_name %}
          {% capture ignore_list %}{{ ignore_list }}{{ activity.signup.id | append: "|" }}{% endcapture %}
        {% endif %}
      {% endfor %}
      {% capture current_signup %}{{ activity.signup.id | append: "|" }}{% endcapture %}
      {% unless ignore_list contains current_signup %}
        {% if activity_type == activity.type_name %}
        <div class="slider-card" data-id="{{ activity.signup.profile_url }}">
          <div class="slider-card-profile clearfix">
            {{ activity.signup.profile_image }}
            <span class="slider-name">
              {% if activity.data.is_organization == true %}
              {{ activity.signup.employer }}
              {% else %}
              {{ activity.signup.published_name_linked }}
              {% endif %}
            </span>
          </div>
        </div>
        {% endif %}
      {% endunless %}
    {% endfor %}
  </div>
</div>
{% endif %}
