<nav class="navbar navbar-supporter">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#supporter-nav-collapse">
        <span class="sr-only">Activer la navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="supporter-nav-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav" role="group">
        {% for child in site.supporter_pages %}
        <li  {% if page == child %}class="active"{% endif %}><a href="{{ child.url }}">{{ child.icon | icon }} {{ child.name }}</a></li>
        {% endfor %}

        {% if page and page.is_public_editing_available? %}
        {% if page_type == 'Event' %}
        <li><a href="{{ page.edit_url }}"><i class="icon-edit"></i> Modifier</a></li>
        {% else %}
        <li><a href="{{ page.edit_url }}"><i class="icon-edit"></i> Éditer cette page</a></li>
        {% endif %}
        {% endif %}
      </ul>

      {% if request.current_user.is_intern? %}
        <ul class="nav navbar-nav navbar-right" role="group">
          {% if request.current_user.can_publish? %}
          {% if page_type == 'Blog' %}
          <li><a href="{{ page.admin_new_subpage_url }}"><i class="icon-feather"></i> Nouvelle note de blog</a></li>
          <li><a href="{{ page.admin_edit_url }}"><i class="icon-edit"></i> Éditer cette page</a></li>
          {% elsif page_type == 'Suggestion Box' %}
          <li><a href="{{ page.admin_new_subpage_url }}"><i class="icon-feather"></i> Nouvelle suggestion</a></li>
          <li><a href="{{ page.admin_edit_url }}"><i class="icon-edit"></i> Éditer cette page</a></li>
          {% elsif page_type == 'Calendar' %}
          <li><a href="{{ page.admin_new_subpage_url }}"><i class="icon-feather"></i> Nouvel évènement</a></li>
          <li><a href="{{ page.admin_edit_url }}"><i class="icon-edit"></i> Éditer cette page</a></li>
          {% elsif page_type == 'Blog Post' %}
          <li><a href="{{ page.blog_post.admin_edit_url }}"><i class="icon-edit"></i> Éditer cette note de blog</a></li>
          {% elsif page_type == 'Question' %}
          <li><a href="{{ page.question.admin_edit_url }}"><i class="icon-edit"></i> Éditer cette question</a></li>
          {% elsif page_type == 'FAQ' %}
          <li><a href="{{ page.faq.admin_edit_url }}"><i class="icon-edit"></i> Éditer des questions</a></li>
          {% elsif page_type == 'Suggestion' %}
          <li><a href="{{ page.suggestion.admin_edit_url }}"><i class="icon-edit"></i> Éditer cette suggestion</a></li>
          {% elsif page_type == 'Event' %}
          <li><a href="{{ page.event.admin_edit_url }}"><i class="icon-edit"></i> Éditer cet évènement</a></li>
          {% elsif page_type == 'Profile' %}
          <li><a href="{{ profile.admin_edit_url }}"><i class="icon-edit"></i> Éditer cette personne</a></li>
          {% elsif page %}
          <li><a href="{{ page.admin_edit_url }}"><i class="icon-edit"></i> Éditer cette page</a></li>
          {% endif %}
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
