{% if request.sorta_logged_in? and request.current_signup.has_password? == true %}

  {% form_for user_session %}

    <div class="form-errors">{% error_messages_for user_session %}</div>

    {% hidden_field_tag "user_session[email]", request.current_signup.email %}

    <label for="user_session_password">Mot de passe</label><br>{% password_field "password", class:"text form-control" %}

    {% submit_tag "Se connecter avec son mot de passe", class:"submit-button btn btn-primary" %}
    <div class="form-submit"></div>

    <div class="padtopmore">
      <a href="{{ request.new_password_reset_url }}">Mot de passe oublié&nbsp;?</a>
    </div>

    {% if request.current_signup.has_facebook_info? or request.current_signup.has_twitter_info? %}
    <div align="center">
      <div class="padtop padbottom">
        <hr>
        <div class="orsignin_wrap"><span id="orsignin">Ou se connecter avec {% if request.current_signup.has_facebook_info? %}Facebook{% endif %} ou {% if request.current_signup.has_twitter_info? %}Twitter{% endif %}</span>
        </div>
      </div>
      {% if request.current_signup.has_facebook_info? %}
      <a href="{{ request.facebook_connect_url }}" class="btn btn-default connect-button facebook"><i class="icon-facebook-squared"></i> Se connecter avec Facebook</a>
      {% endif %}
      {% if request.current_signup.has_twitter_info? %}
      <a href="{{ request.twitter_connect_url }}" class="btn btn-default connect-button twitter"><i class="icon-twitter-squared"></i> Se connecter avec Twitter</a>
      {% endif %}
    </div>
    {% endif %}

    <div align="center" class="padtop">
      Si vous n'êtes pas {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">cliquez ici</a>.
    </div>

  {% endform_for %}

{% elsif request.sorta_logged_in? and request.current_signup.has_password? == false %}

  <div class="oauth-links">
    {% include "oauth_login_links" %}
  </div>
  {% form_for account %}

  {% hidden_field_tag "account[email]", request.current_signup.email %}

  <div class="padtopmore">
    {% submit_tag "Instructions d'activation du compte par email" , class:"submit-button btn btn-primary" %}
    <div class="form-submit"></div>
  </div>

  {% endform_for %}

  <div class="padtop">
    Si vous n'êtes pas {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">cliquez ici</a>.
  </div>

{% else %}
  <div class="row">
    <div class="col-md-4 oauth-links">
      <h4>Se connecter avec</h4>
      {% include "oauth_login_links" %}
    </div>
    <div class="col-md-7 sign-in-with-email">
      {% form_for user_session %}
      <h4>Ou se connecter avec son adresse email</h4>
      <div class="row">
        {% error_messages_for user_session %}
        <div class="col-md-6">
          {% email_field "email", class:"text form-control", placeholder:"Email Address" %}
        </div>
        <div class="col-md-6">
          {% password_field "password", class:"text form-control", placeholder:"Password" %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 remember-me clearfix">
          <div class="checkbox"><label for="user_session_remember_me"> {% check_box "remember_me" %} Rester connecté.e</label></div>
          <input type="hidden" name="ajax" value="true">
          <ul class="errors warning"></ul>
       </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          {% if page.suggestion %}
            {% submit_tag "Publier votre réaction", class:"submit-button btn btn-primary post-comment" %}
          {% else %}
            {% submit_tag "Publier votre commentaire", class:"submit-button btn btn-primary post-comment" %}
          {% endif %}

          <span class="or-create-account">
          or

          <a href="#" class="create-account-link">Créer un compte</a>
          </span>
        </div>
        <div class="form-submitting"></div>
      </div>
      {% endform_for %}
    </div>

    <div class="col-md-7 form sign-up hide">
      {% form_for account %}
      <h4>Créer un compte</h4>
        {% error_messages_for account %}
          {% email_field "email", class:"text form-control", placeholder:"Email Address" %}
        <input type="hidden" name="ajax" value="true"/>
      <ul class="errors warning"></ul>
      <div class="row">
        <div class="col-md-12">
          {% submit_tag "Créer un compte", class:"submit-button btn btn-primary post-comment" %}

          <span class="email-sign-in">
          or

          <a href="#" class="sign-in-with-email-link">Se connecter avec son adresse email</a>
          </span>
        </div>
        <div class="form-submitting"></div>
      </div>
      {% endform_for %}
    </div>
  </div>

  <a name="activation"></a>
  <div class="row">
    <div class="col-md-12 activation-message hide">
        Veuillez consulter votre boîte email pour activer votre compte.
    </div>
  </div>
{% endif %}
