<h4>Je ne suis pas sûr.e.</h4>

{% if page.vote_pledge.unsure_content.size > 0 %}
{{ page.vote_pledge.unsure_content }}
{% endif %}

{% form_for vote_pledge %}

{% hidden_field_tag "vote_pledge[will_vote_status]", 0 %}

<div class="form-errors">{% error_messages_for vote_pledge %}</div>

<div class="row">
  <div class="col-md-12"><div class="form-group"><label for="vote_pledge_content">Avez-vous des questions auxquelles vous souhaitez que nous répondions&nbsp;? (optionnel)</label>{% text_area "content", class:"textarea form-control" %}</div></div>
</div>

{% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
<div class="row">
  <div class="col-md-6"><div class="form-group"><label for="vote_pledge_first_name">Prénom</label>{% text_field "first_name", class:"text form-control" %}</div></div>
  <div class="col-md-6"><div class="form-group"><label for="vote_pledge_last_name">Nom</label>{% text_field "last_name", class:"text form-control" %}</div></div>
</div>
{% endif %}

{% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
<div class="row">
  <div class="col-md-12"><div class="form-group"><label for="vote_pledge_submitted_address">Adresse (Rue, Ville, Code postal) -- pour voir si vous pouvez voter</label>{% text_field "submitted_address", class:"text form-control" %}</div></div>
</div>
{% endif %}

{% if request.sorta_logged_in? == false %}
<div class="row">
  <div class="col-md-6"><div class="form-group"><label for="vote_pledge_email">Email</label>{% email_field "email", class:"text form-control" %}</div></div>
    {% if site.ask_for_mobiles? %}
    <div class="col-md-6"><div class="form-group"><label for="vote_pledge_mobile_number">Numéro de portable (optionnel)</label>{% phone_field "mobile_number", class:"text form-control" %}</div></div>
    {% endif %}
</div>

<div class="row">
  <div class="col-md-6"><div class="checkbox"><label for="vote_pledge_email_opt_in">{% check_box "email_opt_in", class:"checkbox" %} Recevoir des informations par email</label></div></div>
    {% if site.ask_for_mobiles? %}
    <div class="col-md-6"><div class="checkbox"><label for="vote_pledge_mobile_opt_in">{% check_box "mobile_opt_in", class:"checkbox" %} Recevoir des informations par SMS</label></div></div>
    {% endif %}
{% endif %}
</div>

{% submit_tag "Sauvegarder", class:"submit-button btn btn-primary" %}
<div class="form-submit"></div>

{% endform_for %}
