{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  {% if page.volunteer_signup.content.size > 0 %}
  <div id="intro" class="intro">
    {{ page.volunteer_signup.content }}
  </div>
  {% endif %}

  {% if page.show_social_slider? and page.public_activities_count > 0 %}
  {% include "social_slider" %}
  {% endif %}

  <div class="form-wrap">
    <div class="form">

      {% if request.sorta_logged_in? %}

      {% if request.current_signup.is_volunteer? %}
      <h4>Bonjour {{ request.current_signup.name_or_email }}, nous avons enregistré vos informations.</h4>

      <div class="padtop">
        Vous pouvez mettre à jour vos informations ci-dessous.
      </div>
      {% else %}
      <h3>Bonjour {{ request.current_signup.name_or_email }}, que voulez-vous faire pour aider&nbsp;?</h3>

      {% endif %}

      {% if request.logged_in? == false %}
      <div class="padtop">
        Si vous n'êtes pas {{ request.current_signup.name_or_email }},
        <a href="{{ request.current_signup.logout_url }}">cliquez ici</a>.
      </div>
      {% endif %}

      {% else %}

      <h4>Que voulez-vous faire pour aider&nbsp;?</h4>

      {% endif %}

      <p>En cochant ces cases, vous vous inscrivez aux lettres d’informartions associées à ces actions.</p>

      {% form_for volunteer_signup %}

      <div class="form-errors">{% error_messages_for volunteer_signup %}</div>

      <div class="padtop padbottom">
        <div class="row">
          <div class="col-md-6">
          <h4>Agir près de chez vous</h4>
          {% for volunteer_type in page.volunteer_signup.volunteer_types %}
            {% if forloop.index <= 6 %}
            <div class="checkbox"><label>
              {% check_box_tag 'volunteer_signup[volunteer_type_ids][]', volunteer_type.id, collection:volunteer_signup.volunteer_type_ids, member:volunteer_type.id, class:"checkbox" %}
              {{ volunteer_type.name }}
            </label></div>
            {% endif %}
          {% endfor %}
          </div>
          <div class="col-md-6">
          <h4>Agir sur Internet</h4>
          {% for volunteer_type in page.volunteer_signup.volunteer_types %}
            {% if forloop.index > 6 %}
            <div class="checkbox"><label>
              {% check_box_tag 'volunteer_signup[volunteer_type_ids][]', volunteer_type.id, collection:volunteer_signup.volunteer_type_ids, member:volunteer_type.id, class:"checkbox" %}
              {{ volunteer_type.name }}
            </label></div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
      {% hidden_field_tag 'volunteer_signup[volunteer_type_ids][]', '' %}

      {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
      <div class="row">
        <div class="col-md-6"><div class="form-group"><label for="volunteer_signup_first_name">Prénom</label>{% text_field "first_name", class:"text form-control" %}</div></div>
        <div class="col-md-6"><div class="form-group"><label for="volunteer_signup_last_name">Nom</label>{% text_field "last_name", class:"text form-control" %}</div></div>
      </div>
      {% endif %}

      <div class="row">
        {% if request.sorta_logged_in? == false %}
        <div class="col-md-6"><div class="form-group"><label for="volunteer_signup_email">Email</label>{% email_field "email", class:"text form-control" %}</div></div>
        {% endif %}
        {% if page.volunteer_signup.is_phone? %}
        <div class="col-md-6"><div class="form-group"><label for="volunteer_signup_mobile_number">Numéro de portable (optionnel)</label>{% phone_field "mobile_number", class:"text form-control" %}</div></div>
        {% endif %}
      </div>

      {% if page.volunteer_signup.is_address? %}
      {% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
      <div class="row">
        <div class="col-md-12"><div class="form-group"><label for="volunteer_signup_submitted_address">Adresse (Rue, Ville, Département, Code postal)</label>{% text_field "submitted_address", class:"text form-control" %}</div></div>
      </div>
      {% endif %}
      {% endif %}

      {% submit_tag "Sauvegarder mes informations", class:"submit-button btn btn-primary" %}
      <div class="form-submit"></div>

      {% endform_for %}

    </div>
  </div>

  {% if page.tags_count > 0 %}
  <div id="page-tags" class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  <div class="like-page">
    <strong>Aimez cela pour encourager vos ami.e.s à aider.</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>
